<!-- BANNER HOME -->
<div id="home">
    <div class="banner-home pt-5 pb-5 " style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
     <div class="banner-home-content">
       <h1 >Navid Radkusha</h1>
           <img src="assets/navid.jpg" alt="user" class="avatar-large">
       <div class="share-links">
            <a href="https://github.com/navPersia/linux_docker_php" target="_blank" class="share-link bg-github">
                <i class="fab fa-github-square"></i>
            </a>
            <a href="https://twitter.com/navrdk" target="_blank" class="share-link bg-twitter">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://be.linkedin.com/in/navid-radkusha" target="_blank" class="share-link bg-linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
       </div>
   </div>
  </div>
     
  <!-- Banner Portfolio -->


<div class="jumbotron jumbotron-fluid p-3 p-md-5 mt-5">
    <div class="container">
        <h2 class="text-center"><span>Hello,
        </span> my name is<span> Navid</span>.<br> I am a <span style="color: #b42d35;">Full Stack</span> Developer living in Antwerp.</h2>
        <h1 class=" text-center"><span style="color: #4682B4;">Innovation is my passion.</span></h1>
    </div>
</div>

<div class="container p-2">
    <div class="row justify-content-center">
        <div class="col-4">
            <hr style="color: #41B3A3; height:3px">
        </div>
    </div>
</div>

<div class="container pt-md-2 pb-md-2 p-md-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 p-5 p-lg-2">
            <h5>
                I believe computer code is an art.<br><br>
                Like artists, programmers take a blank space and fill it with something new and creative.<br> <br>
                They develop an end idea of what they would like to create.
            </h5>
        </div>
    </div>
</div>

<div class="container p-2">
    <div class="row justify-content-center">
        <div class="col-4">
            <hr style="color: #41B3A3; height:3px">
        </div>
    </div>
</div>

<div class="container bg-light p-5 mt-5 mb-5" style="border-radius: 1.2rem;">
    <h1 class="text-center p-2 pb-5">
        Take a look at some of my projects <i class="fas fa-laptop-code"></i>
    </h1>

    <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <div class="card mb-3 p-2 p-md-5" style="max-width: 25rem; background-color: #B6D0E2; border-radius: 1.2rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">AquaFun</h5>
                  <p class="card-text">A web platform for swimming pools developed using PHP Laravel and MySQL.</p>
                  <p [routerLink]="['/aquafun']" class="card-text text-center text-primary"><i class="fas fa-arrow-alt-circle-right fa-lg"></i></p>
                </div>
              </div>
        </div>

        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <div class="card mb-3 p-2 p-md-5" style="max-width: 25rem; background-color: #AFE1AF; border-radius: 1.2rem;">
                <div class="card-body ">
                  <h5 class="card-title text-center">SafeHouse Ministery</h5>
                  <p class="card-text">SafeHouse Ministry is a Christian ministry among the Persian speaking youth.<br>I'm so proud to be a part of their community.<br> I used my creativity to build a awesome website.</p>
                  <p class="card-text text-center text-primary"><a href="https://my-safehouse.com/home" target="_blank"><i class="fas fa-arrow-alt-circle-right fa-lg"></i></a></p>
                </div>
              </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center pt-5 text-primary">
            <a [routerLink]="['/projects']" >Click here to see more <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>

</div>

