<div class="jumbotron">
    <div class="container p-5">
      <h1>Washington soloution App</h1>
      <p>A web app for table football players.</p>
    </div>
</div>

<div class="container p-5">
    <h2>Skills:</h2>
    <ul class="tags">
        <li><a class="tag">HTML</a></li>
        <li><a class="tag">CSS</a></li>
        <li><a class="tag">JavaScript</a></li>
        <li><a class="tag">.Net</a></li>
        <li><a class="tag">Angular</a></li>
        <li><a class="tag">Typescript</a></li>
        <li><a class="tag">MySQL</a></li>
        <li><a class="tag">C#</a></li>
        <li><a class="tag">Azure</a></li>
    </ul>
</div>

<div class="container bg-light p-5 mb-5 mt-5" style="border-radius: 1.2rem;">
    <h5 class="text-center p-2 pb-5">
        A web app for table football players, so they can save their points and accept a new challange.
        <br>
        This project was an assignment for Angular.
        <br>
        By doing this project I have learned Angular framework. 
    </h5>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <video class="video-project" controls>
                    <source class="rounded" src="../../../assets/kickerapp.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <img class="img-thumbnail project-photo" src="../../../assets/ERDwsapp.png">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h5>Source_code front-end:  <a href="https://github.com/navPersia/kickerapp_front" target="_blanc"><i class="fab fa-github-square fa-lg"></i></a></h5>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <h5>Source_code back-end:  <a href="https://github.com/navPersia/kickerapp_back" target="_blanc"><i class="fab fa-github-square fa-lg"></i></a></h5>
            </div>
        </div>
    </div>