
<!-- BANNER HOME -->
<div id="home">
  <div class="banner-home">
   <div class="banner-home-content">
    <h2 class="text-center pb-3">Navid Radkusha</h2>
         <img src="assets/navid.jpg" alt="user" class="avatar-large">
 </div>
</div>

  
  <div class="container pt-5 pb-5 p-md-5 bg-light mb-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8">
            <h5>
                
                <br>
                I've always loved technology. From a young age, technology has interested me. Most children play video games, while I loved playing with computers.
                <br>
                <br>
                The more I played, the more I wanted to understand how things worked. If something broke, I would take it apart and figure out what had gone wrong, trying to get it back to normal.
                <br>
                <br> 
                I never lost my curiosity, but my interest in technology changed as I expanded my knowledge from taking apart equipment to building new websites and software in code.
            </h5>
        </div>
    </div>
</div>


<h2 class="text-center py-3">My Education History</h2>

<div class="container py-2 mt-4 mb-4">
  <!-- timeline item 1 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <!-- timeline item 1 center dot -->
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">2017 - heden
          </div>
          <h4 class="card-title">Bachelor of Computer Applied Science Informatica from Thomas More</h4>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!-- timeline item 2 -->
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right small">2017 - 2018</div>
          <h4 class="card-title">Netwerk Technicus from EduKempen
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
  </div>
  <!--/row-->
  <!-- timeline item 3 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">2015 - 2017</div>
          <h4 class="card-title">TweedeKans onderwijs from Edukempen</h4>

        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!-- timeline item 4 -->
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">2001 - 2012</div>
          <h4 class="card-title">Science and Mathematics from KH. High School</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
  </div>
  <!--/row-->
</div>