
<!-- BANNER HOME -->
<div id="home">
  <div class="banner-home">
   <div class="banner-home-content">
    <h2 class="text-center pb-3">Navid Radkusha</h2>
         <img src="assets/navid.jpg" alt="user" class="avatar-large">
 </div>
</div>

  
  <div class="container pt-5 pb-5 p-md-5 bg-light mb-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8">
            <h5>
                I've always loved technology. From a young age, technology has interested me. Most children played video games, while I loved playing with computers.
                <br>
                <br>
                The more I played, the more I wanted to understand how things worked. If something broke, I would take it apart and figure out what had gone wrong, trying to get it back to normal.
                <br>
                <br> 
                I never lost my curiosity, but my interest in technology changed as I expanded my knowledge from taking apart equipment to building new websites and software in code.
                <br>
                <br>
                One of the reasons that I love programming is that I have to use my creativity to solve the problems. 
                <br>
                <br>
                Being creative, I like making different kinds of art. At this moment, I particularly enjoy photography.
                <br>
                <br>
                Now I'm {{age}} years old and still hungry to learn more about technology. In fact my hunger to learn is growing stronger and stronger every day.
                
            </h5>
        </div>
    </div>
</div>


<h2 class="text-center py-3">My Education History</h2>

<div class="container py-2 mt-4 mb-4">
  <!-- timeline item 1 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <!-- timeline item 1 center dot -->
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">2017 - 2022
          </div>
          <h4 class="card-title">Bachelor of Computer Applied Science Informatica at Thomas More in Geel</h4>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!-- timeline item 2 -->
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right small">2017 - 2018</div>
          <h4 class="card-title">Netwerk Technicus at EduKempen in Turnhout
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
  </div>
  <!--/row-->
  <!-- timeline item 3 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">2015 - 2017</div>
          <h4 class="card-title">TweedeKans onderwijs at Edukempen in Turnhout</h4>

        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!-- timeline item 4 -->
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">2001 - 2012</div>
          <h4 class="card-title">Science and Mathematics at KH. High School in Tehran</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
  </div>
  <!--/row-->
</div>

<div class="container bg-light p-2 mb-5 rounded">
  <h2 class="text-center py-3 mt-5">My Work History</h2>

<div class="container py-2 mb-4">
  <!-- timeline item 1 -->
  <div class="row no-gutters">
    <div class="col-sm"> <!--spacer--> </div>
    <!-- timeline item 1 center dot -->
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right text-muted small">March - June (2022)
          </div>
          <h4 class="card-title">Backend developer at <a href="http://integrationdesigners.com/" target="_blank">Integration Designers</a> (internship)</h4>
          <h4 class="card-title">Integration solutions based on IBM API Connect</h4>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
  <!-- timeline item 2 -->
  <div class="row no-gutters">
    <div class="col-sm py-2">
      <div class="card">
        <div class="card-body">
          <div class="float-right small">2017 - 2022</div>
          <h4 class="card-title">Computer assistance at <a href="https://beego.be" target="_blank">Beego</a>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
        <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm"> <!--spacer--> </div>
  </div>
  <!--/row-->
  
</div>
</div>
