
<div class="container p-3 p-md-5">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 d-flex justify-content-center">
            <div class="drop__card" style="background-color: #6495ED;">
                <div class="drop__data">
                  <img src="assets/navid.jpg" alt="Perfil_01" class="drop__img" />
                  <div>
                    <h1 class="drop__name">Navid RadKusha</h1>
                    <span class="drop__profession">Follow me.</span>
                  </div>
                </div>
      
                <div>
                  <a href="https://be.linkedin.com/in/navid-radkusha" target="_blank" class="drop__social"><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://twitter.com/navrdk" target="_blank" class="drop__social"><i class="fab fa-twitter"></i></a>
                  <a href="https://github.com/navPersia/linux_docker_php" target="_blank" class="drop__social"><i class="fab fa-github"></i></a>
                </div>
              </div>
        </div>
        <!-- <div class="col-12 col-md-4"></div> -->
    </div>
</div>
<div class="container bg-light p-5 rounded mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-4 col-lg-6">
      <h5>You can contact me by filling in the form below or you can send an email to <a href="mailto:navidradkusha@gmail.com">navidradkusha@gmail.com</a></h5>
    </div>
  </div>
</div>
<div class="container p-4 p-md-5 mb-5 bg-secondary rounded" id="form">
    <div class="row text-center d-flex justify-content-center">
        <div class="col-12 col-md-8 col-xl-6 " >
            <div class="card-wrapper bg-light rounded">
                <div class="card p-3 rounded">
                    <div class="text-center p-4 ">
                        <form method="POST" action="https://contact.navidradkusha.com/my_contact.php" class="needs-validation">
                            <legend>Contact</legend>
                            <div class="form-group mb-3">
                              <label for="emailcustom">Name:</label>
                              <input class="form-control" type="text" name="name" required="required" placeholder="your name" />
                            </div>
                            <div class="form-group mb-3">
                              <label for="phonecustom">Email:</label>
                              <input class="form-control" type="email" name="email" placeholder="example@email.com" pattern="^[^ ]+@[^ ]+\.[a-z]{2,6}$" required="required"/>
                            </div>
                            <div class="form-group mb-3">
                              <label for="commentcustom">Comment:</label>
                              <textarea class="form-control" name="message" id="message" required="required" placeholder="your comment"></textarea>
                            </div>
                            <div class="card-content__btn-wrapper mt-3 d-flex justify-content-center">
                                <button class="card-content__btn hvr-float-shadow">
                                    Send
                                </button>
                            </div>
                          </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>      
</div>

