<div class="jumbotron">
    <div class="container p-5">
      <h1>Aquafun</h1>
      <p>A web application developed using Laravel framwork.</p>
    </div>
</div>

<div class="container p-5">
    <h2>Skills:</h2>
    <ul class="tags">
        <li><a class="tag">HTML</a></li>
        <li><a class="tag">CSS</a></li>
        <li><a class="tag">JavaScript</a></li>
        <li><a class="tag">Laravel</a></li>
        <li><a class="tag">PHP</a></li>
        <li><a class="tag">MySQL</a></li>
    </ul>
</div>

<div class="container bg-light p-5 mb-5 mt-5" style="border-radius: 1.2rem;">
    <h5 class="text-center p-2 pb-5">
       Aquafun is a platform with a lot of function inside it.<br>This platform designed to manage swimming pools.
       <br>
       By coding this platform I learned Laravel framework and project analyse.
       <br>
       This project helped me to improve my skill as a team player.
       <br>
       This project is done for Project PHP in secound year.
    </h5>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <video class="video-project" controls>
                    <source class="rounded" src="../../../assets/Screen Recording 2021-11-17 at 12.24.14.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h5>Source_code:  <a href="https://github.com/navPersia/AquafunPHP" target="_blanc"><i class="fab fa-github-square fa-lg"></i></a></h5>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <p><a href="https://kmd.sinners.be/" target="_blanc">Link</a></p>
            </div>
        </div>
    </div>
    

</div>