<div class="jumbotron">
    <div class="container p-5">
      <h1>AXXES Interaction App</h1>
      <p>A meeting app for large meetings.</p>
    </div>
</div>

<div class="container p-5">
    <h2>Skills:</h2>
    <ul class="tags">
        <li><a class="tag">HTML</a></li>
        <li><a class="tag">CSS</a></li>
        <li><a class="tag">JavaScript</a></li>
        <li><a class="tag">NodeJs</a></li>
        <li><a class="tag">Angular</a></li>
        <li><a class="tag">Typescript</a></li>
        <li><a class="tag">MySQL</a></li>
    </ul>
</div>

<div class="container bg-light p-5 mb-5 mt-5" style="border-radius: 1.2rem;">
    <h5 class="text-center p-2 pb-5">
        A meeting app for large meetings developed using Angular on front and NodeJs as backend.
    </h5>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <video class="" width="320" height="240" controls>
                    <source class="rounded" src="../../../assets/Axxes.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h5>Source_code front-end:  <a href="https://github.com/navPersia/P4-front" target="_blanc"><i class="fab fa-github-square fa-lg"></i></a></h5>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <h5>Source_code back-end:  <a href="https://github.com/navPersia/p4-back" target="_blanc"><i class="fab fa-github-square fa-lg"></i></a></h5>
            </div>
        </div>
    </div>