<div class="container bg-light p-5 mb-5 mt-5" style="border-radius: 1.2rem;">
    <h5 class="text-center p-2 pb-5">
      I build small (but cute, I think!) projects that are either an attempt at "art", they are a thing that I need in my life.
    </h5>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card mb-3 p-2 p-md-5" style="max-width: 25rem; background-color:#FFDAB9; border-radius: 1.2rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Project 4.0</h5>
                  <p class="card-text">A chat platform for large meetings developed using Angular and NodeJs.</p>
                  <p [routerLink]="['/project4']" class="card-text text-center text-primary"><i class="fas fa-arrow-alt-circle-right fa-lg"></i></p>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="card mb-3 p-2 p-md-5" style="max-width: 25rem; background-color: #B6D0E2; border-radius: 1.2rem;">
            <div class="card-body">
              <h5 class="card-title text-center">AquaFun</h5>
              <p class="card-text">A web platform for swimming pools developed using PHP Laravel and MySQL.</p>
              <p [routerLink]="['/aquafun']" class="card-text text-center text-primary"><i class="fas fa-arrow-alt-circle-right fa-lg"></i></p>
            </div>
          </div>
    </div>

        <div class="col-12 col-md-6 d-flex justify-content-center">
          <div class="card mb-3 p-2 p-md-5" style="max-width: 25rem; background-color: #AFE1AF; border-radius: 1.2rem;">
              <div class="card-body ">
                <h5 class="card-title text-center">SafeHouseMinistery</h5>
                <p class="card-text">SafeHouse Ministry is a Christian ministry among Persian speaking youth.<br>I'm so proud to be a part of their community.<br> I used my creativity to builed a awsome website.</p>
                <p class="card-text text-center text-primary"><a href="https://my-safehouse.com/home" target="_blank"><i class="fas fa-arrow-alt-circle-right fa-lg"></i></a></p>
              </div>
            </div>
      </div>
        
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card mb-3 p-2 p-md-5" style="max-width: 25rem; background-color: #FFDAB9; border-radius: 1.2rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">WashingtonSolutions_APP</h5>
                  <p class="card-text">As a team we creates together an awsome Application using Angular and .NET</p>
                  <p [routerLink]="['/wsapp']" class="card-text text-center text-primary"><i class="fas fa-arrow-alt-circle-right fa-lg"></i></p>
                </div>
              </div>
        </div>
    </div>


</div>